---
import Layout from "../layouts/Layout.astro";
import LanguageSelector from "./LanguageSelector.astro";
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO.TITLE.HOME}>
  <div
    id="home"
    class="container sm:px-8 right-0 mx-auto md:mt-28 flex flex-col items-center px- md:flex-row md:py-16"
  >
    <div
      class="mb-16 flex flex-col items-center text-center text-[#0b0517] drop-shadow-xl md:mb-0 md:w-1/2 md:items-start md:mr-16 md:text-left lg:flex-grow lg:mr-24"
    >
      <div class="mini-waku">
        <div
          class="pt-16 text-3xl md:pt-0 md:text-4xl lg:text-6xl xl:text-7xl 2xl:text-8xl"
        >
          <h1>
            {i18n.HIIAM}
            <span
              class="bg-gradient-to-r from-primary via-purple-500 to-primary bg-clip-text font-bold text-transparent"
              >Lucia
            </span>
          </h1>
        </div>
        <div
          class="flex items-center justify-center sm:text-3xl text-2xl md:justify-normal lg:text-5xl xl:text-7xl 2xl:text-7xl"
        >
          <h1
            class="md:min-w-[325px] lg:min-w-[520px] xl:min-w-[790px] inline-block"
          >
            {i18n.ANDIM}
            <span
              class="bg-gradient-to-r from-primary via-purple-500 to-primary bg-clip-text font-bold text-transparent"
              >{i18n.DEVELOPER}
            </span>
          </h1>
          <img
            src="https://cdn.discordapp.com/emojis/976721057237057566.gif?size=1280&quality=lossless"
            alt="uwu"
            class="ml-2 h-8 lg:h-14 md:h-10 xl:h-20 w-auto"
          />
        </div>
      </div>
      <div class="flex justify-center gap-x-4 pt-10 font-bold">
        <a href="https://github.com/lucialv" target="_blank">
          <button class="btn btn-outline btn-primary">
            <svg
              class="h-6 w-6"
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="github"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 496 512"
            >
              <path
                fill="currentColor"
                d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
              ></path>
            </svg>
            Github
          </button></a
        >
      </div>
    </div>
    <div>
      <img
        src="/yo.jpg"
        alt="yo"
        class="h-80 rounded-full border-4 border-primary/50 avatar"
      />
    </div>
  </div>
  <div class="md:mt-[350px] mt-20 mb-32">
    <div class="mini-waku flex items-center justify-center mb-12">
      <h2 class="text-3xl md:text-5xl font-bold text-[#0b0517] text-center">
        {i18n.EDUCATION}
      </h2>
      <img src="/docu.png" alt="Docs" class="ml-2 h-10 w-10 md:h-16 md:w-16" />
    </div>
    <ul class="timeline timeline-vertical px-8">
      <li>
        <div class="timeline-start timeline-box">{i18n.HIGHSCHOOL}</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 text-primary"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 text-primary"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div class="timeline-end timeline-box">
          {i18n.FIRST_YEAR}
          {i18n.MSN_VET_PROGRAM}
        </div>
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-secondary" />
        <div class="timeline-start timeline-box">
          {i18n.SECOND_YEAR}
          {i18n.MSN_VET_PROGRAM}
        </div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 text-secondary"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div class="timeline-end badge badge-secondary text-primary">
          ⬤ {i18n.LIVE}
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-end timeline-box">{i18n.MAD_VET_PROGRAM}</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h- text-base-300"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
      </li>
    </ul>
  </div>
</Layout>
