---
import Layout from "../layouts/Layout.astro";
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

import Projects from "../components/Projects.astro";
import Form from "../components/Form.tsx";
---

<Layout title={i18n.SEO.TITLE} description={i18n.SEO.DESCRIPTION}>
  <div
    id="home"
    class="container sm:px-8 right-0 mx-auto md:mt-28 flex md:flex-row md:py-16 flex-col items-center md:items-start"
  >
    <div
      class="mb-16 flex flex-col text-center tracking-tighter text-[#0b0517] drop-shadow-xl md:mb-0 md:w-1/2 md:items-start md:mr-16 md:text-left lg:flex-grow lg:mr-24"
    >
      <div class="font-[Mini]">
        <div
          class="pt-16 text-3xl md:pt-0 md:text-4xl lg:text-6xl xl:text-7xl 2xl:text-8xl"
        >
          <h1>
            {i18n.HIIAM}
            <span
              class="bg-gradient-to-r from-primary via-purple-500 to-primary bg-clip-text font-bold text-transparent"
              >Luc<span class="font-[Potato]">í</span>a
            </span>
          </h1>
        </div>
        <div
          class="flex items-center justify-center sm:text-3xl text-2xl md:justify-normal lg:text-5xl xl:text-7xl 2xl:text-7xl"
        >
          <h1
            class="md:min-w-[325px] lg:min-w-[520px] xl:min-w-[790px] inline-block"
          >
            {i18n.ANDIM}
            <span
              class="bg-gradient-to-r from-primary via-purple-500 to-primary bg-clip-text font-bold text-transparent"
              >{i18n.DEVELOPER}
            </span>
          </h1>
          <img
            src="/typing.gif"
            alt={i18n.ALT.SYLVEON}
            draggable="false"
            class="ml-2 h-8 lg:h-14 md:h-10 xl:h-20 w-auto"
          />
        </div>
      </div>
      <div class="flex justify-center gap-x-4 pt-10 font-bold">
        <a href="https://github.com/lucialv" target="_blank">
          <button class="btn btn-outline btn-primary">
            <svg
              class="h-6 w-6"
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="github"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 496 512"
            >
              <path
                fill="currentColor"
                d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
              ></path>
            </svg>
            Github
          </button></a
        >
      </div>
      <div
        class="md:flex font-semibold items-center md:mt-60 hidden gap-x-3 scrollDown"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-primary"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M6 3m0 4a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-4a4 4 0 0 1 -4 -4z"
          ></path>
          <path d="M12 7l0 4"></path>
        </svg>
        <h1>{i18n.SCROLL_DOWN}</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-6 w-6 text-primary"
        >
          <path
            fill-rule="evenodd"
            d="M10 3a.75.75 0 0 1 .75.75v10.638l3.96-4.158a.75.75 0 1 1 1.08 1.04l-5.25 5.5a.75.75 0 0 1-1.08 0l-5.25-5.5a.75.75 0 1 1 1.08-1.04l3.96 4.158V3.75A.75.75 0 0 1 10 3Z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
    </div>
    <div>
      <img
        src="/yo.webp"
        alt={i18n.ALT.LUCIA}
        draggable="false"
        class="h-64 xl:h-80 rounded-full border-4 -mt-8 border-primary/50 avatar"
      />
    </div>
  </div>

  <!-- About Me Section -->

  <div class="hero mt-20 md:mt-[150px] mb-32">
    <div
      class="gap-4 xl:w-[1200px] p-4 items-center lg:flex border-2 border-secondary rounded-lg m-8 pb-12 px-8"
    >
      <img
        src="/girl.png"
        class="w-[16rem] mx-auto lg:mx-0 xl:w-[24rem] rounded-lg"
      />
      <div class="md:max-w-lg lg:max-w-2xl text-xl">
        <div class="mt-4">
          <h1
            class="text-3xl text-center lg:text-start font-[Mini] md:text-5xl xl:text-6xl font-bold mb-8"
          >
            {
              currentLocale === "es" ? (
                <span>
                  Sobre m<span class="font-[Potato]">í</span>
                </span>
              ) : (
                i18n.ABOUT_ME.TITLE
              )
            }
          </h1>
        </div>
        {
          currentLocale === "es" ? (
            <>
              <p class="md:text-2xl mb-4 aboutme">
                <span>Desarrolladora Junior</span>, con muchas ganas de aprender
                más cada día y decidida a lograr algo grandioso en el futuro
                como
                <span>Desarrolladora Web</span>.
              </p>
              <p class="md:text-2xl aboutme">
                Hace poco terminé el primer año del{" "}
                <span>Ciclo Formativo de Grado Medio SMR</span> y actualmente
                voy por el segundo año disfrutando mucho de la experiencia de
                aprender y crecer.
              </p>
            </>
          ) : (
            <>
              <p class="md:text-2xl aboutme mb-4">
                <span>Junior Developer</span>, eager to learn more every day and
                determined to achieve something great in the future as a{" "}
                <span>Web Developer</span>.
              </p>
              <p class="md:text-2xl aboutme">
                I recently finished the first year of the{" "}
                <span>Intermediate VET MSN</span> and I am currently in the
                second year enjoying the experience of learning and growing.
              </p>
            </>
          )
        }
      </div>
    </div>
  </div>
  <div class="divider flex mx-auto max-w-xs"></div>
  <Projects />
  <div class="divider flex mx-auto max-w-xs"></div>
  <div class="mt-20 md:mt-[150px] mb-32">
    <div class="flex items-center justify-center mb-12 2xl:mb-20">
      <h2
        class="text-3xl font-[Mini] md:text-5xl lg:text-6xl font-bold text-[#0b0517] text-center"
      >
        {i18n.EDUCATION}
      </h2>
      <img
        src="/docu.webp"
        alt={i18n.ALT.DOCUMENT}
        draggable="false"
        class="ml-2 h-10 w-10 md:h-16 md:w-16"
      />
    </div>
    <ul
      class="timeline lg:text-xl timeline-vertical px-8 max-w-[65rem] mx-auto"
    >
      <li>
        {
          currentLocale === "es" ? (
            <div
              class="timeline-start tooltip tooltip-secondary timeline-box"
              data-tip="Educación Secundaria Obligatoria"
            >
              {i18n.HIGHSCHOOL}
            </div>
          ) : (
            <div class="timeline-start timeline-box">{i18n.HIGHSCHOOL}</div>
          )
        }
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 text-primary"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-primary" />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 text-primary"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div
          class="timeline-end timeline-box tooltip tooltip-secondary"
          data-tip={i18n.MSN_VET_PROGRAM_DESCRIPTION}
        >
          {i18n.FIRST_YEAR}
          {i18n.MSN_VET_PROGRAM}
        </div>
        <hr class="bg-primary" />
      </li>
      <li>
        <hr class="bg-secondary" />
        <div
          class="timeline-start timeline-box tooltip tooltip-secondary"
          data-tip={i18n.MSN_VET_PROGRAM_DESCRIPTION}
        >
          {i18n.SECOND_YEAR}
          {i18n.MSN_VET_PROGRAM}
        </div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 text-secondary"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div class="timeline-end badge badge-secondary py-3 text-[#220041]">
          ⬤ {i18n.LIVE}
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-end timeline-box">{i18n.MAD_VET_PROGRAM}</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h- text-base-300"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
      </li>
    </ul>
  </div>
  <div class="divider flex mx-auto max-w-xs"></div>
  <div class="justift-center p-12 mx-auto mt-16 mb-32">
    <div class="flex items-center justify-center mb-12">
      <h2
        class="font-[Mini] text-3xl md:text-5xl lg:text-6xl font-bold text-[#0b0517] text-center"
      >
        {i18n.CONTACT}
      </h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="ml-4 h-10 w-10 md:h-16 md:w-16 text-primary"
      >
        <path
          d="M3.505 2.365A41.369 41.369 0 0 1 9 2c1.863 0 3.697.124 5.495.365 1.247.167 2.18 1.108 2.435 2.268a4.45 4.45 0 0 0-.577-.069 43.141 43.141 0 0 0-4.706 0C9.229 4.696 7.5 6.727 7.5 8.998v2.24c0 1.413.67 2.735 1.76 3.562l-2.98 2.98A.75.75 0 0 1 5 17.25v-3.443c-.501-.048-1-.106-1.495-.172C2.033 13.438 1 12.162 1 10.72V5.28c0-1.441 1.033-2.717 2.505-2.914Z"
        ></path>
        <path
          d="M14 6c-.762 0-1.52.02-2.271.062C10.157 6.148 9 7.472 9 8.998v2.24c0 1.519 1.147 2.839 2.71 2.935.214.013.428.024.642.034.2.009.385.09.518.224l2.35 2.35a.75.75 0 0 0 1.28-.531v-2.07c1.453-.195 2.5-1.463 2.5-2.915V8.998c0-1.526-1.157-2.85-2.729-2.936A41.645 41.645 0 0 0 14 6Z"
        ></path>
      </svg>
    </div>
    <div class="flex items-center justify-center">
      <div class="mx-auto w-full max-w-[550px]">
        <Form currentLocale={currentLocale} client:only="react" />
      </div>
    </div>
  </div>
</Layout>

<script>
  function changeCss() {
    var navElement = document.querySelector(".scrollDown") as HTMLElement;
    if (!navElement) return;

    var scrollValue = window.scrollY;
    var opacityValue = 0.9 - scrollValue / 600;
    navElement.style.opacity = opacityValue.toString();
  }

  window.addEventListener("scroll", changeCss, false);
</script>
