---
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
import { GraduationCap } from "lucide-react";
import ImageModal from "../components/ViewGrades.tsx";
---

<div class="mt-20 md:mt-[150px] mb-32">
  <div class="flex items-center justify-center mb-12 2xl:mb-20">
    <h2
      class="text-4xl font-[Mini] md:text-5xl lg:text-6xl font-bold text-[#0b0517] text-center"
    >
      {i18n.EDUCATION}
    </h2>
    <GraduationCap className="ml-4 h-10 w-10 md:h-16 md:w-16 text-primary" />
  </div>
  <ul class="timeline lg:text-xl timeline-vertical px-8 max-w-[65rem] mx-auto">
    <li>
      {
        currentLocale === "es" ? (
          <div
            class="timeline-start tooltip tooltip-secondary timeline-box"
            data-tip="Educación Secundaria Obligatoria"
          >
            {i18n.HIGHSCHOOL}
          </div>
        ) : (
          <div class="timeline-start timeline-box">{i18n.HIGHSCHOOL}</div>
        )
      }
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-primary"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <hr class="bg-primary" />
    </li>
    <li>
      <hr class="bg-primary" />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-primary"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div
        class="timeline-end timeline-box tooltip tooltip-secondary"
        data-tip={i18n.MSN_VET_PROGRAM_DESCRIPTION}
      >
        {i18n.FIRST_YEAR}
        {i18n.MSN_VET_PROGRAM} - <ImageModal
          imageUrl="/View-Grades.webp"
          translate={i18n.VIEW_GRADES}
          client:only="react"
        />
      </div>
      <hr class="bg-primary" />
    </li>
    <li>
      <hr class="bg-secondary" />
      <div
        class="timeline-start timeline-box tooltip tooltip-secondary"
        data-tip={i18n.MSN_VET_PROGRAM_DESCRIPTION}
      >
        {i18n.SECOND_YEAR}
        {i18n.MSN_VET_PROGRAM}
      </div>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-secondary"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="timeline-end badge badge-secondary py-3 text-[#220041]">
        ⬤ {i18n.LIVE}
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-end timeline-box">{i18n.MAD_VET_PROGRAM}</div>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h- text-base-300"
          ><path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path></svg
        >
      </div>
    </li>
  </ul>
</div>
